@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24Meongi-W-v1.0';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Meongi-W-v1.0.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body{    
    font-family: 'GmarketSansMedium';
    margin: 0;
    background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
    background-size: cover;
    font-size: 18px;
    min-width: 320px;
}
h1{
    font-family: 'Cafe24Meongi-W-v1.0';
    text-align: center;
}
h1 span {
    position: relative;
    top: 20px;
    display: inline-block;
    animation: bounce .4s ease infinite alternate;
    font-family: 'Cafe24Meongi-W-v1.0';
    font-size: 5.0rem;
    color: #000;
    font-weight: bold; 
    margin: 0 -5px; 
    
  }
  
  h1 span:nth-child(2) { animation-delay: .1s; }
  h1 span:nth-child(3) { animation-delay: .2s; }
  h1 span:nth-child(4) { animation-delay: .3s; }
  h1 span:nth-child(5) { animation-delay: .4s;}
  h1 span:nth-child(6) { animation-delay: .5s; }
  h1 span:nth-child(7) { animation-delay: .6s; }
  h1 span:nth-child(8) { animation-delay: .7s; }
  
  @keyframes bounce {
    100% {
      top: -20px;
      text-shadow: 0 1px 0 #CCC,
                   0 2px 0 #CCC,
                   0 3px 0 #CCC,
                   0 4px 0 #CCC,
                   0 5px 0 #CCC,
                   0 6px 0 #CCC,
                   0 7px 0 #CCC,
                   0 8px 0 #CCC,
                   0 9px 0 #CCC,
                   0 50px 25px rgba(0, 0, 0, .2);
    }
  }


.container{
    background: #fff;
    min-height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 50px;
}
.inputArea{
    text-align: center;
    display: flex;
    justify-content: space-between;
    border: 5px solid #31cad1;
    border-radius: 50px;
    overflow: hidden;
    margin:40px 0;
}
.inputArea input{
    background: none;
    width: 80%;
    border: none;
    padding: 1.0rem;    
    font-size: 2rem;
    text-align: center;  
}
.inputArea button{
    width: 30%;
    border: none;
    background: #31cad1;
    font-size:1.5rem;
    color: #fff;
}
.inputArea button:hover {
   color: #10595d;
}
input:focus {outline:none; background: none;}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-transition: background-color 9999s ease-out;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
.taskArea{
    margin: 20px 0;
    position: relative;    
}
.taskTab {
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;    
}
.taskTab div{
    width: 100px;       
    text-align: center;
    padding: 1rem;
    border-radius: 20px 20px 0 0; 
    background: #a48afb; 
    color: #fff;
    cursor: pointer;
}
#underLine{
    position: absolute;    
    left: 0;
    top: 57px;
    padding: 0;
    z-index: 2;
    border-radius: 0;
    border-bottom: 2px dotted #fff;
    transition: 0.5s ease-out;
}
.taskBoard{    
    background: #a48afb; 
    padding: 50px;
    border-radius: 0 30px 30px 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.taskNum{  
   position: absolute;
   right: 5%;
   top: 80px;
   font-size: 1rem;   
}
.taskNum ul{
    display: flex;
}
.taskNum ul li{
    display: flex;
    padding-left: 15px;
}
.taskNum ul li span{
    font-weight: bold;
    letter-spacing: 2px;
}
.task{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;    
    align-items: center;
    margin-bottom: 5px;
    background:#fff;
    border-radius: 10px;
    transition: all 0.3s ease-out;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
.task:hover{    
    border-radius: 50px;    
}
.task.inactive{    
    background: rgba(255, 255, 255, 0.7);
}
.task.inactive:hover{    
    border-radius: 10px;
}
.task.inactive button{    
    background: #805bfa
}
.taskDone{    
    text-decoration: line-through; 
    color: #805bfa
}
.task button{
    border: none;
    width: 40px;
    height:40px;
    transition: all 0.2s ease-out;
    background: #ff6b9d;
    color: #fff;
    font-size: 1.2rem;
}
.task button:hover{    
    background: #59e4e9;
}
.task button i{
    vertical-align: middle;    
}

@media (max-width: 640px) {
    body{
        font-size: 14px;
    }
    h1 {        
        font-size: 3.0rem;
    }
    .container{        
        padding: 30px;
    }
    .inputArea {
        margin: 20px 0;
    }
    .inputArea input {       
        padding: 0.5rem;
        font-size: 1.5rem;
    }
    .inputArea button {        
        font-size: 1.0rem;
    }
    .taskBoard {
        background: #a48afb;
        padding: 20px;
        border-radius: 0 0 30px 30px;
        padding-top: 40px;
    }
    .taskTab div {
        width: 33.333%;
       
    }
    #underLine {       
        width: 33.333%;
    }
    .task {        
        padding: 0.5rem 1rem;       
    }
    .taskNum{  
        position: absolute;
        right: 5%;
        top: 60px;
        font-size: 1rem;   
     }
  }

